<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_label_item</title>
</head>
<body>
<h2 align="center">添加标注项目界面</h2>
<hr>
<form action="/add_label_item/submit_add_item" method="POST">
    <div align="center">
        项目名称：<input type="text" name="item_name" id="1" required=""><br><br>
        项目描述：<input type="text" name="item_describe" id="2" required=""><br><br>
        <input type="submit" value="提交">
        <input type="reset" value="清空">
    </div>
</form>

</body>
</html>