<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>just_label</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="./js/vue.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/Labelitem">知识图谱自动构建</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/Labelitem">首页</a></li>
            <li class="active"><a href="/just_label/{{item_id}}">数据标注 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">知识抽取</a></li><li><a href="#">知识融合</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session['username']}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">个人资料</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">注销</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <hr>
    <br>
    <div>
        <div class="col-md-10 col-md-offset-1">
            <div class="progress" style="height: 35px">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{zhanbi}}%">
                    <span style="font-size:15px; color: coral; line-height:35px">{{islabel_count[0]['count(q)']}}/{{sen_count[0]['count(q)']}}&nbspComplete</span>
                </div>
            </div>
        </div>
<!--        <div class="col-md-offset-10">-->
<!--            <a href="/Labelitem"><input type="button" class="btn btn-danger" value='返回'></a>-->
<!--            <a href="/update_label/{{item_id}}"><input type="button" class="btn btn-danger" value='标签'></a>-->
<!--            <a href="/submit/{{item_id}}"><input type="button" class="btn btn-success" value='提交'></a>&nbsp;-->
<!--        </div>-->
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <div class="col-md-9 panel panel-default panel-primary">
            <div class="panel-heading">标注文本</div>
            <div class="panel-body">
                {{fenju}}
            </div>
        </div>
        <div class="col-md-3 panel panel-default panel-danger">
            <div class="panel-heading">实体信息<button class="col-md-offset-4 btn btn-warning">添加</button>&nbsp<button class="btn btn-warning">提交</button></div>
            <div class="panel-body">
                <div class="input-group">
                  <span class="input-group-addon">实体名称</span>
                  <input type="text" class="form-control" placeholder="名称" aria-describedby="sizing-addon2">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">实体类别</span>
                    <select class="form-control">
                      <option value="volvo">地名</option>
                      <option value="saab">时间</option>
                      <option value="opel">人名</option>
                      <option value="audi">公司</option>
                    </select>
<!--                  <input type="text" class="form-control" placeholder="类别" aria-describedby="sizing-addon2">-->
                </div>
                <button class="col-md-offset-10 btn btn-danger">删除</button>

            </div>
        </div>
        <div class="clearfix"></div>
        <nav aria-label="..." class="col-md-9">
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>
        <div class="col-md-3 panel panel-default panel-success">
            <div class="panel-heading">关系信息<button class="col-md-offset-4 btn btn-warning">添加</button>&nbsp<button class="btn btn-warning">提交</button></div>
            <div class="panel-body">
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon1">头实体</span>
                  <input type="text" class="form-control" placeholder="头实体" aria-describedby="sizing-addon2">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon2">关系</span>
                    <select class="form-control">
                      <option value="volvo">上级</option>
                      <option value="saab">下级</option>
                      <option value="opel">平级</option>
                      <option value="audi">属于</option>
                    </select>
<!--                  <input type="text" class="form-control" placeholder="关系选择" aria-describedby="sizing-addon2">-->
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon3">尾实体</span>
                  <input type="text" class="form-control" placeholder="尾实体" aria-describedby="sizing-addon2">
                </div>
                <button class="col-md-offset-10 btn btn-danger">删除</button>
            </div>
        </div>
    </div>
</body>
</html>