<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>just_label</title>
</head>
<body>
<form action="">
    <h2 align="center">标注界面</h2>
    <hr>
    <div align="right">
        <a href="/Labelitem"><input type="button" value='返回'></a>&nbsp&nbsp&nbsp
        <a href="/update_label/{{item_id}}"><input type="button" value='标签'></a>&nbsp&nbsp&nbsp
        <a href="/submit/{{item_id}}"><input type="button" value='提交'></a>&nbsp&nbsp&nbsp
    </div>
    <hr>
</form>
</body>
</html>