<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<form name="form" method="post">
    <br>
    {% if error %}
        <div class="alert alert-danger col-md-6 col-md-offset-3" role="alert"><strong>{{error}}</strong> </div>
    {% endif %}
    <div class="content">
        <div class="form sign-in">
            <h2>欢迎回来</h2>
            <label>
                <span>用户名</span>
                <input type="text" name="log_username" id="1">
            </label>
            <label>
                <span>密码</span>
                <input type="password" name="log_password" id="2">
            </label>
<!--            <p class="forgot-pass"><a href="javascript:">忘记密码？</a></p>-->
            <button type="button" class="submit" onclick="act1()">登 录</button>
            <button type="reset" class="fb-btn">清 空</button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册，自动构建知识图谱！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in">登 录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>立即注册</h2>
                <label>
                    <span>用户名</span>
                    <input type="text" name="re_username" id="3">
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" name="re_password" id="4">
                </label>
                <button type="button" class="submit" onclick="act2()">注 册</button>
                <button type="reset" class="fb-btn">清 空</button>
            </div>
        </div>
    </div>
</form>

    <script src="../static/js/script.js"></script>
    <script type="text/javascript">
         function act1(){
             var x = document.forms["form"]["log_username"].value;
             var y = document.forms["form"]["log_password"].value;
             if (x == ""||y == "") {
                 alert("请输入用户名或密码");
                 return false;
             }
             else{
                 document.form.action="/loginProcess";
                 document.form.submit();
             }
             return true;
         }
         function act2(){
             var x = document.forms["form"]["re_username"].value;
             var y = document.forms["form"]["re_password"].value;
             if (x == ""||y == "") {
                 alert("请输入用户名或密码");
                 return false;
             }
             else{
                 document.form.action="/registerProcess";
                 document.form.submit();
             }
            return true;
         }
    </script>
</body>

</html>